
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header-bg{
    background-image: url(imgs/background.avif);
    background-repeat: no-repeat;
    background-size:100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-title{
    font-weight:800;
    font-size: 50px;
    margin-left:50px ;
}
nav ul{
    display: flex;
    align-items: center;
    
    /* gap: 10px; */
}

/* shared style */
.skill-imgs{
    height: 80px;
    width: 80px;
}
.text-center{
    text-align:center;
}

.cecondary-bg{
    background-color:#fff8f3 ;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: nonn;

}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: black;
    font-weight: bold;
}

.dark-2{
    color: #474747;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    
   
}
.banner-content{
    max-width:580px ;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;

}
.banner-title{
    margin: 0;
    font-weight: bold;
    font-size: 70px ;
}
.banner-profile{

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-discription{
    font-size: 18px;
    color:#757575 ;
    text-align: center;
}
/* main style */
main{
    
    /* max-width:1160; */
    margin: 0px;
    max-width:fit-content;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 30px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}

.item-discription{
    font-weight: 600;
}

.skill-container{
    display: flex;
    gap: 20px;
    margin: 0px 25px;
}
.skill{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px #474747;
}

/* resume section */

.resume-container{
    margin: 0px 25px;
    display: flex;
    gap: 24px;
}
.experience-title{
    font-size: 24px;
}
.experience-subtitle{
    font-size: 20px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 16px;
}
.expreience-discription{
    color: grey;
}




footer{
    display: flex;
    gap: 100px;
    padding: 20px;
}



.footer-imgs{
    height: 50px;
    width: 50px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"],textarea {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    display:block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 14px;
    border: none;
    
}

/* responsive style start */

.hide{
    display: none;
}

@media screen and (max-width:576px) {
    .skill-container, .resume-container, footer,.about-items, .banner, nav, nav > ul{
        flex-direction: column;
        
    }
    .banner{
        margin: 20px;
    }
    .header-bg{
        background-image: none;
    }
    nav ul li, button{
        margin-top: 10px;;
    }
    .about{
        padding: 20px;
        
    }
    .skills{
        text-align:justify;

    }
    .footer-column{
    width: 100%;
}
footer input[type="text"], footer input[type="email"]{
    width: calc(100% - 40px);
}

}









/* @media screen and (min-width:576px) and (max-width:992px){
    .skill-container{
        grid-template-columns: (2,1fr);
        
    }
} */